.title {
    margin-top: 176px;
    margin-right: 216px;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    line-height: 76px;
    left: 845px;
}

.sub-title {

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    left: 876px;
    margin-right: 216px;
}

.button {
    text-align: right;
    margin-right: 190px;
}

.btn {
    width: 160px;
    height: 64px;
    left: 1210px;

    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 0;
}

.header {
    background-image: url('../images/banner/banner3.png');
    width: 1600px;
    height: 808px;
}

/* 2nd steps*/
.oop {
    display: flex;
    padding-left: 15%;
}

.hj {
    width: 288px;
    height: 94px;
    left: 929px;
    top: 1117px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding: 8%;

}

.jg {
    width: 416px;
    height: 104px;
    left: 895px;
    top: 1263px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 5%;
}

.kj {
    width: 379px;
    height: 167px;
    left: 907px;
    top: 1434px;
    padding: 8%;
}

/* 3rd steps */

.yy {
    text-align: center;
    margin-bottom: 30px;
}

.kkk {
    display: flex;
    gap: 150px;
    text-align: center;
    padding: 10%;

}

.tt {
    font-weight: 700;
    font-size: 30px;
}

.ds {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.jt {
    font-weight: 700;
    font-size: 30px;

}

.jd {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.st {
    font-weight: 700;
    font-size: 30px;

}

.sd {
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

.et {
    font-weight: 700;
    font-size: 30px;
}

.ed {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* 4th steps */

.ap {
    margin-right: 150px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 130px;
    color: #FFFFFF;
}

.cn {

    padding-left: 100px;
    font-weight: 600;
    font-size: 20px;
}

.bt {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: 0;
}

.bk {
    margin-left: 190px;


    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    border-radius: 8px;
    padding: 20px;


}

.ftft {
    display: flex;
    background: #151414;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2651.96px;
    gap: 200px;
    padding-left: 268px;
    padding-top: 141px;
    padding-bottom: 118px;
    padding-right: 847px;

}

.ee {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.pp {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.ww {
    color: #FFFFFF;
}

.qq {
    color: #FFFFFF;
}

.ss {
    color: #FFFFFF;
}

.aa {
    background: #005FAC;
    border-radius: 8px;
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2921.96px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.ff{
    padding-left: 191px;
}